.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;

  color: #3d53d1;
  font-family: sans-serif;
  cursor: not-allowed;
}

.pagination a {
  outline: none;
  padding: 10px;
  margin: 5px 5px;
  border-bottom: 1px solid #95a0e0;
  color: #6c7ac9;
  font-size: 15px;
  border-radius: 20px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #7e82a6;
  cursor: not-allowed;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: none;
  pointer-events: none;
}
.blob {
 animation:  rot 10s linear infinite;


}
.disabled{
  pointer-events: none;
  cursor: not-allowed;
}

@keyframes rot {
  0%, 100% {
      font-size: initial
   }
   
   50% {
      font-size:31px;
   }

    

}
